cat << EOF
#
# Taiga
#
<source>
  type tail
  format /^(?<log>.*)$/
  path ${POCCI_LOG_DIR}/taiga/back/gunicorn.stdout.log
  pos_file ${POCCI_LOG_DIR}/taiga.back.gunicorn.stdout.log.pos
  tag pocci.taiga.back.gunicorn.stdout
</source>
<source>
  type tail
  format /^(?<log>.*)$/
  path ${POCCI_LOG_DIR}/taiga/back/gunicorn.stderr.log
  pos_file ${POCCI_LOG_DIR}/taiga.back.gunicorn.stderr.log.pos
  tag pocci.taiga.back.gunicorn.stderr
</source>

EOF
