cat << EOF
# Pocci Private Certificate Authority
ca:
  image: xpfriend/workspace-nodejs:3.1.0
  env_file:
    - ./.env
  volumes:
    - ./volumes/ca:/app
    - ./nginx/ssl:/ssl
  working_dir: /app
  command: bash start.sh

EOF
